:root {
    --font-titulo: 'Poppins', sans-serif;
    --font-texto: 'Mukta Malar', sans-serif;
  }
  
  h1, h2, h3, .titulo, .botao {
    font-family: var(--font-titulo);
  }
  

  :root {
    /* === PALETA MODERNA E SUAVE PARA HAMBURGUERIA === */
    --cor-creme-suave:        #fdfaf6;  /* Fundo principal claro */
    --cor-marrom-suave:       #8b6d5c;  /* Título / header moderno */
    --cor-dourado-claro:      #fda623;  /* Destaques e botões */
    --cor-salmão-claro:       #f2a588;  /* Acentos leves e botões hover */
    --cor-verde-menta:        #aedfc1;  /* Ícones e links ativos */
    --cor-grafite:            #2f2f2f;  /* Texto escuro elegante */
    --cor-cinza-suave:        #e7e7e7;  /* Bordas, divisores */
    --cor-branco-puro:        #ffffff;  /* Cartões e fundo de modal */

    /* === PALETA HEADER === */
    --header-text-a: #e7e7e7;
    --header-home-hover:#aedfc1; 
    --header-bg-grafite:#2f2f2f;  
    --header-bg-cat:#aedfc1;  
    --header-bg-cat-hover:#2f2f2f;  

    --header-bg-car:#aedfc1;
    --header-text-car:#2f2f2f;    

    --canvas-bg-grafite:#2f2f2f;

    --home-bg-left:#aedfc1;
    --home-text-cor:#aedfc1;
    --home-btn-bg:#fdfaf6;
    --home-border-bg:#aedfc1;
    --home-btn-text-cor:#fdfaf6;
    --home-btn-text-hover:#fdfaf6;
    --home-btn-bg-hover:#2f2f2f;
       
    /* === FONTES GERAIS === */
    --fonte-titulo:           'Poppins', sans-serif;
    --fonte-texto:            'Mukta Malar', sans-serif;
  
    /* === HEADER === */
    --header-bg:              var(--header-bg-grafite);
    --header-logo-size:       150px;
    
    --modals-bg:              #2f2f2f;
    --modals-text-cor:              #aedfc1;
    --modals-text-cor1:             #fda623;


    --modals-car-bg:              #2f2f2f;
    --modals-car-bg1:              #fdfaf6;
    --modals-car-text-cor:              #aedfc1;
    --modals-car-text-cor1:             #fda623;
  
  




  }
  
