 /* === HEADER === */
 header {
  background: var(--header-bg-grafite);
  box-shadow: 0 2px 6px rgba(255, 255, 255, 0.827);
  position: sticky;
  top: 0;
  z-index: 1050;
}

header .btn {
  font-size: 1rem;
  padding: 5px;
}

.cart-count {
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: var(--header-bg-car);
  color: var(--header-text-car);
  font-size: 0.75rem;
  padding: 2px 6px;
  border-radius: 50%;
  font-weight: bold;
}

/* === OFFCANVAS MENU === */
.offcanvas {
  background-color: var(--cor-grafite);
}

.offcanvas-header {
  border-bottom: 1px solid var(--offcanvas-borda);
  padding-bottom: 1rem;
}

.offcanvas-body ul li {
  font-family: var(--fonte-titulo);
  transition: background-color 0.3s ease, padding-left 0.2s ease;
  text-decoration: none;
}

.modal.fade .modal-dialog {
  transition: opacity 0.4s ease, transform 0.4s ease;
}
.offcanvas.fade {
  transition: transform 0.4s ease;
}



.home-hover{
  color: var(--header-text-a);
  text-decoration: none;
}

.home-hover:hover{
  background: var(--header-home-hover);
  color: var(--header-bg-grafite);
  font-family: var(--fonte-titulo);
  transition: background-color 0.3s ease, padding-left 0.2s ease;
  text-decoration: none;
  padding-left: 1.5rem;
}

.cat-hover:hover{
  background: var(--header-home-hover);
  color: var(--header-bg-grafite);
  font-family: var(--fonte-titulo);
  transition: background-color 0.3s ease, padding-left 0.2s ease;
  text-decoration: none;
  padding-left: 1.5rem;
}


.cat-hover{
  color: var(--header-text-a);
  text-decoration: none;
}

/* Dropdown personalizado */
.dropdown-menu {
  background-color: var(--header-bg-cat);
  border: none;
}

.dropdown-item {
  color: var(--offcanvas-text);
  font-family: var(--fonte-texto);
}

.dropdown-item:hover {
  background-color: var(--header-bg-cat-hover);
  color: #fff;
}


.home h1,
.home p,
.home button,
#status-horario {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}